# Variables de Entorno

# API Backend
VITE_API_URL=https://elbuenmenu.site/api

# Puerto del servidor
PORT=5000

# Base de datos - Supabase PostgreSQL
DATABASE_URL="postgresql://postgres:cloudVps78862!m@db.fnpzoqjnisgkhgnlwzic.supabase.co:5432/postgres?schema=public"

# Supabase (Base de Datos)
VITE_PUBLIC_SUPABASE_URL=https://fnpzoqjnisgkhgnlwzic.supabase.co
VITE_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZucHpvcWpuaXNna2hnbmx3emljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0MTY1NTcsImV4cCI6MjA3Njk5MjU1N30.29Ye8_bIx8Fdm41FHSWhLOXpLI7G6qgHiVdGTxFARwY

# WhatsApp Bot
ADMIN_NUMBERS=5493487207406
OPENAI_API_KEY=your_openai_api_key_optional
